body {
    font-family: Arial, Helvetica, sans-serif;
    color: $primaryFontColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $secondaryFontColor;
}

.removeListDecoration {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.listingContainer {
    font-size: 1.5rem;
}

header {
    font-size: 2rem;
    //Something with react..... The a links doesn't count as a links...
    a {
        color: $primaryFontColor;
        text-decoration: none;
    }
}


